---
Checks:          'clang-diagnostic-*,clang-analyzer-*,performance-*,portability-*,bugprone-*,-bugprone-narrowing-conversions,-performance-unnecessary-value-param'
CheckOptions:
  - key:   readability-identifier-naming.MethodCase
    value: camelBackz
  - key:   readability-identifier-naming.ParameterCase
    value: camelBack
...
