#!/usr/bin/make -f

#include /usr/share/quilt/quilt.make

build: novelvm

novelvm:
	dh_testdir
	./configure --host=maemo $(CONFIGURE_EXTRA_ARGS)
	$(MAKE) $(MAKE_EXTRA_ARGS)

clean:
	dh_testdir
	dh_testroot
	-$(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs
# run as fake dbus-service to enable switching back to application from desktop via home key
	install -m0755 dists/maemo/novelvm.servicewrapper debian/novelvm/usr/games/novelvm
	install -m0644 dists/maemo/novelvm.servicedesktop debian/novelvm/usr/share/applications/hildon/novelvm.desktop
	install -m0644 dists/maemo/novelvm.service debian/novelvm/usr/share/dbus-1/services
# the following commented out lines are the alternative for not running novelvm as a fake service
#	install -m0755 dists/maemo/novelvm.wrapper debian/novelvm/usr/games/novelvm
#	install -m0644 dists/maemo/novelvm.desktop debian/novelvm/usr/share/applications/hildon
	install -m0644 dists/maemo/novelvm26.png debian/novelvm/usr/share/icons/hicolor/26x26/hildon/novelvm.png
	install -m0644 dists/maemo/novelvm40.png debian/novelvm/usr/share/icons/hicolor/40x40/hildon/novelvm.png
	install -m0644 dists/maemo/novelvm48.png debian/novelvm/usr/share/icons/hicolor/48x48/hildon/novelvm.png
	install -m0644 dists/maemo/novelvm64.png debian/novelvm/usr/share/icons/hicolor/64x64/hildon/novelvm.png
	install -m0644 icons/novelvm.xpm debian/novelvm/usr/share/icons
#	install -m0644 -d debian/novelvm/usr/lib/novelvm
#	install -m0644 plugins/lib*.so debian/novelvm/usr/lib/novelvm
##non-optified version
#	install -m0755 novelvm debian/novelvm/usr/games/novelvm.bin
#	install -m0644 -d debian/novelvm/usr/share/novelvm
#	install -m0644 dists/pred.dic debian/novelvm/usr/share/novelvm
#	install -m0644 gui/themes/scummclassic.zip  gui/themes/scummmodern.zip debian/novelvm/usr/share/novelvm
# optified version (save rootfs space on N900), see also configure prefix and datadir paths above
	install -m0644 -d debian/novelvm/opt/novelvm/bin
	install -m0755 novelvm debian/novelvm/opt/novelvm/bin
	install -m0644 -d debian/novelvm/opt/novelvm/share
	install -m0644 dists/pred.dic debian/novelvm/opt/novelvm/share
	install -m0644 gui/themes/scummclassic.zip  gui/themes/scummmodern.zip gui/themes/scummremastered.zip debian/novelvm/opt/novelvm/share
	install -m0644 backends/vkeybd/packs/vkeybd_default.zip debian/novelvm/opt/novelvm/share
	install -m0644 backends/vkeybd/packs/vkeybd_small.zip debian/novelvm/opt/novelvm/share
# for optified version we can also add engine datafiles
	install -m0644 dists/engine-data/*.dat debian/novelvm/opt/novelvm/share
	install -m0644 dists/engine-data/*.zip debian/novelvm/opt/novelvm/share
	install -m0644 dists/engine-data/*.ccs debian/novelvm/opt/novelvm/share
	install -m0644 dists/engine-data/*.tbl debian/novelvm/opt/novelvm/share
	install -m0644 dists/engine-data/*.cpt debian/novelvm/opt/novelvm/share

	install -m0644 -d debian/novelvm/usr/share/doc/novelvm
	install -m0644 AUTHORS COPYING COPYING.BSD COPYING.FREEFONT COPYING.LGPL COPYING.OFL COPYRIGHT NEWS.md README.md debian/novelvm/usr/share/doc/novelvm
binary: binary-arch

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs NEWS.md
	dh_link
	dh_strip
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep:

.PHONY: build clean binary install binary-arch binary-indep
